body {
  background-color: $black;
}

/************
Scrollbar Styles
************/
body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track {
  background-color: $green;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

section#primaryScreen {
  height: 100vh;
  background-image: linear-gradient($black, $orange);
}

//glowing effect overlayed on top of screen background - pure CSS!
@keyframes glow {
  0% {opacity: 0;}
  50% {opacity: .5;}
  100% {opacity: 0;}
}

div.glowOverlay {
  height: 100%;
  background-image: linear-gradient($black, $red);
  animation-name: glow;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


/************
Header Styles
************/
header {
  height: $headerHeight;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsla(0, 0%, 7%, 0.8);
  z-index: 5000;
  transition: top 0.4s ease-in-out;
}

.header-up {
  top: $headerRePosition;
}

.main-nav,
.main-nav ul,
.main-nav ul li,
.main-nav ul li a {
  height: 100%;
}

.main-nav {
  float: right;
}

ul {
  list-style-type: none;
  list-style: none;
}

.main-nav ul li,
.main-nav ul li a {
  display: inline-block;
}

.main-nav ul li {
  margin-right: -5px;
}


.main-nav ul li:hover {
  background-color: hsla(29, 76%, 38%, 0.5);
  color: $yellow;
}




/************
Main Styles
************/

main {
  background-color: $green;
  padding-top: 1rem;
}

main section {
  min-height: 100vh;
  margin: auto;
  width: 800px;
  color: $light-green;
  padding: 2.5rem 0;
  position: relative;
}

.textBlock {
  width: 700px;
  margin: auto;
}

.textBlock p {
  margin-bottom: 2rem;
}

#teamSection .teamMemberContainer {
  margin: 5rem 0;
  height: 500px;
  position: relative;
}

.teamMemberContainer .memberCopy {
  position: absolute;
  bottom: 2rem;
}

.teamMemberContainer .memberImgWrapper {
  position: absolute;
  top: 0;
}

.teamMemberContainer:nth-child(even) .memberCopy,
.teamMemberContainer:nth-child(odd) .memberImgWrapper {
  right: 0;
}

.teamMemberContainer:nth-child(odd) .memberCopy,
.teamMemberContainer:nth-child(even) .memberImgWrapper {
  left: 0;
  text-align: right;
}

/************
Footer Styles
************/

footer {
  background-color: $green;
  padding: 5rem 0;
}

footer section {
  width: 700px;
  margin: auto;
  position: relative;
}

footer section:after {
  content: "";
  display: table;
  clear: both;
}

footer section nav#footer-nav {
  width: 30%;
  float: left;
  padding-right: 20%;
  border-right: 2px solid $whiteCopy;
}

footer section nav ul li {
  margin: 1rem 0;
}

footer section nav ul li:first-of-type {
  margin-top: 0;
}

footer section nav ul li:last-of-type {
  margin-bottom: 0;
}

footer section div#copyrightContainer {
  width: 50%;
  text-align: right;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/************
Under Construction Styles
************/
.construction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.construction h1 {
  display: block;
  padding: 0;
}

.construction iframe {
  margin: 1rem 0;
}

.construction a {
  color: $whiteCopy;
}
